html{
    color:#eaeaea;
    background-color:rgba(55, 78, 109, 0.91);
    font-family: 'Montserrat', sans-serif;
  
}

.links{
    color:#6FB98F;
    text-decoration: none;
    padding: 2px;
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 0px;
    float: right;
    font-size: 20px;
}

.skills:hover{
    color: lightgray;

}
.sociallinks{
    color:#6FB98F;
    text-decoration: none;
    margin-left: 7px;
    margin-top: 10px;
    font-size: 28px;
    float: left;
}
.box{
    background: rgba(3, 24, 69, 0.96);
    text-align: center;
    width: 70vw;
    height: 45vh;
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 10px 6px 16px 5px rgba(0,0,0,0.75);
    border-radius: 25px;
}

.centerlogo{
    margin-top: 30px;
}
.name{
    margin-top: 30px;
   
}

.aboutWrapper{
    
    display: flex;
    flex-direction:row;
   
}

.aboutpic{
    width: 300px; 
    height: 300px;
    border-radius: 25px;
}
.spacing{
    margin:auto;
}

.spacing h3{
    text-align: center;
}

.skillsWrapper{
    
    background-color:  rgba(3, 24, 69, 0.96);
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 10px 6px 16px 5px rgba(0,0,0,0.75);
    border-radius: 25px;
}
.starwrapper{
    display: flex;
    justify-content: space-around;
}
.starwrapper img{
    padding-left: 55px;
    width: 75px;
    height: 75px;
}
.starwrapper div{
    justify-content: center;
}
.starsize{
    font-size: 30px;
    padding-right:10px;
}
.about{
    text-align: center;
}
.projectwrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skillsspacing h1 {
    text-align: center;
}
.center{
    text-align: center;
    border-bottom: 3px solid #eaeaea;
}