<header>
    <a href ="Portfolio/#!/" class = "links">Home</a>
    <a href ="portfolio/#!/about" class = "currentlinks">About Me</a>
    <a href ="portfolio/#!/skills"class = "links">Skills</a>
    </header>  
<div class = "aboutWrapper">
    <div class = "spacing">
<h1>Detroit, MI</h1>
<img src = "images/detroit.jpg" width ="300px" height="300px">
</div>
<div class = "spacing">
<h1>Adventures</h1>
<img src = "images/outdoors.jpg" width ="300px" height="300px">
</div>
<div class = "spacing">
<h1>Learning</h1>
<img src = "images/learning.jpg" width ="300px" height="300px">
</div>
</div>